
<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-card/paper-card.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-progress/paper-progress.html">
<link rel="import" href="../paper-input/paper-input.html">
<link rel="import" href="../paper-icon-button/paper-icon-button.html">
<link rel="import" href="../iron-icons/iron-icons.html">
<link rel="import" href="../paper-slider/paper-slider.html">
<link rel="import" href="shared-styles-prueba.html">


<dom-module id="componente-cv">

  <template> 
    <style include="shared-styles-prueba">
      :host {
        --paper-card-background-color-info:  #5c8ad1;
        --paper-card-background-color-des:  #fff;
        --paper-slider-color-red: #8a0b0b;
        --paper-slider-color-yellow:#fcdf00;
        --paper-slider-color-orange:#fe8505;
        display: grid;
        grid-template-areas: "left right";
        grid-template-columns: 35% 65%;
      }

    </style>

    <paper-card id="paper-card-primary" heading="{{fullName}}" >
      <div class="card-content">
          <p class="header-subtitle">General Information</p> 
          <p>{{phone}}</p>
          <p>{{email}}</p>
          <template is="dom-if" if="{{availableToTravel}}">
            <p>Available to travel</p>
          </template>
          <p class="header-subtitle">Skills</p>
          <template is='dom-repeat' items={{skills}}>
            <p>{{item.skillName}}</p>
            <paper-slider 
              pin snaps max="3" 
              max-markers="3" 
              step="1"
              on-value-changed="_valueChanged" 
              value="{{item.level}}"
              id="[[_progress(item.level)]]">
            </paper-slider>
          </template> 
           <p class="header-subtitle">References</p>
          <template is="dom-repeat" items={{referencias}}>
            <p>{{item}}</p>
          </template>
      </div>
    </paper-card>

    <paper-card id="paper-card-secundary" >
      <div class="card-content">
        <div class="flex-between">
          <p class="header-subtitle">Profile</p>
          <template is="dom-if" if="{{editText}}">
            <paper-icon-button icon="icons:check" on-click="_aceptar"></paper-icon-button>
          </template>
          <template is="dom-if" if="{{!editText}}">
              <paper-icon-button icon="icons:create" on-click="_editar"></paper-icon-button>
          </template>
        </div>
        <template is="dom-if" if="{{editText}}">
          <paper-input value="{{text}}" > </paper-input>
        </template>
        <template is="dom-if" if="{{!editText}}">
          <p>{{text}}</p>
        </template>

        <div class="flex-between">
          <p class="header-subtitle">Experience</p>
          <template is="dom-if" if="{{editJobs}}">
            <paper-icon-button icon="icons:check" on-click="_aceptarJobs"></paper-icon-button>
          </template>
          <template is="dom-if" if="{{!editJobs}}">
              <paper-icon-button icon="icons:create" on-click="_editarJobs"></paper-icon-button>
          </template>
        </div>
        <template is="dom-repeat" items={{jobs}}>  
          <template is="dom-if" if="{{editJobs}}">
            <paper-input value="{{item.title}}"> </paper-input>
            <paper-input value="{{item.companyName}}"> </paper-input>
            <paper-input value="{{item.startDateService}}"> </paper-input>
            <paper-input value="{{item.endDateSevice}}"> </paper-input>
          </template>
          <template is="dom-if" if="{{!editJobs}}">
            <p>{{item.title}} {{item.companyName}} {{item.startDateService}} {{item.endDateSevice}}</p>
          </template>
        </template>
          
        <p class="header-subtitle">Tools</p>
        <template is="dom-repeat" items="{{tools}}">
          <p>{{item}}</p>
        </template>
      </div>
    </paper-card>
  </template>


  <script>
    class ComponenteCv extends Polymer.Element {
      static get is() { return 'componente-cv'; }
      static get properties() {
        return {
          fullName: {
            type: String,
            value: 'Luis De La Rosa De La Cruz'
          },
          age: {
            type: Number
          },
          phone: {
            type: Number,
            value: 7361062712
          },
          email: {
            type: String,
            value: 'luis_rc0910@hotmail.com'
          },
          skills: {
            type: Array,
            value:[
            {'skillName':'JAVA', 'level':'2'},
            {'skillName':'HTML', 'level':'1'},
            {'skillName':'CSS', 'level':'1'},
            {'skillName':'JS', 'level':'3'}]
          },
          availableToTravel: {
            type: Boolean,
            value: true
          },
          referencias: {
            type: Array,
            value:['GFT México','BBVA']
          },
          editText:{
            type: Boolean,
            value: false
          },
          text:{
            type: String,
            value: 'ipsum dolor sit amet consectetur'
          },
          valueSlider:{
            type: Number,
            value: 0
          },
          jobs: {
            type: Array,
            value:[
            {'title':'Desarrollador backend', 'companyName':'Gft México', 'startDateService':'Jul, 2017', 'endDateSevice':'Present'},
            {'title':'Desarrollador backend', 'companyName':'Gft México', 'startDateService':'Jul, 2017', 'endDateSevice':'Present'},
            {'title':'Desarrollador backend', 'companyName':'Gft México', 'startDateService':'Jul, 2017', 'endDateSevice':'Present'},
            {'title':'Desarrollador backend', 'companyName':'Gft México', 'startDateService':'Jul, 2017', 'endDateSevice':'Present'}]
          },
          editJobs:{
            type: Boolean,
            value: false
          },
          tools: {
            type: Array,
            value:[
            'GIT',
            'GIT', 
            'GIT', 
            'GIT']
          }
        };
      }

      _progress = (item) => {
        let progress = '';
        if(item == 1 || item == 0) {
          progress = 'red';
        } else if(item == 2) {
          progress = 'orange';
        } else {
          progress = 'yellow';
        }
        return progress;
      }

      _aceptar = () => {
        this.set('editText', !this.editText );
      }

      _editar = () => {
        this.set('editText', !this.editText );
      }

      _aceptarJobs = () => {
        this.set('editJobs', !this.editJobs );
      }

      _editarJobs = () => {
        this.set('editJobs', !this.editJobs );
      }

      _valueChanged =(e) =>{
        console.log( e);
      }

    }

    window.customElements.define(ComponenteCv.is, ComponenteCv);
  </script>
</dom-module>
